.Container1 {
  background-color: #349370;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}

.containeraviao {
  display: flex;
}

svg {
  display: inline;
}

.star{
  width: 900px;
}