.Container1 {
  background-color: #349370;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}

.containeraviao {
  display: flex;
}

svg {
  display: inline;
}

.star{
  width: 900px;
}

.classificacao {
  background-color: #9beea9;
  border-radius: 20px;
  padding-left: 10px;
}

.class {
  padding: 0%;
  padding-top: 10px;
  align-items: center;
}
.padd {
  padding: 3px !important;
}

.oferta {
  background-color: #C2E6F9;
  border-radius: 20px;
  padding-left: 10px;
}

.paddoferta {
  padding: 3px !important;
  padding-top: 10px !important;
}

.bag {
  width: 20px;
}

.colbag {
  padding-top: 10px;
}

.text {
  padding-bottom: 20px;
}

.top {
  padding-top: 10px;
}